*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

#container{

    background-color:white;
    width:800px;
    margin: 0px auto;
    padding: 10px;
    color:white;
    align-items: center;
   
}

.faceicon {
width:80px;
position:absolute;
top: 70px;

}

.iconsmall {
    width:20px;
}

#headblock {

    align-items: left;
    height:100px;
    background-color: darkcyan;


}

.info {
    color:black;
    text-decoration: none;
    margin:0;
    padding:10px;
    padding-top: 50px;
    border-bottom:1px solid gray;
    border-left:1px solid gray;
    border-right:1px solid gray;
}


a {
    color:rgb(7, 112, 182);
    text-decoration: underline;
  }